 body {
    text-align: ;
    background: url("http://www.cellphone-wallpapers.net/Wallpapers/User/11483-5511.jpg");;
    color: white;
    font-family: monaco;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
color:#3399CC;
width:960px;
margin:auto;


}

header, main, footer {
clear:both;
margin-left:0;
width:960px;
color:003399;

}




header, main h1 {
color:#3399CC;

}


a, a:visited {
color:#330066;
text-decoration:none;
}






a:hover {
color: #77ccee;
text-decoration: bold;
}


}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
}


#nav {
list-style: none;
width:960px;
margin-left:-40px;
}

#nav li {
display:block;
float: left;
padding:5px;
margin-bottom:20px;
margin-right:10px;
height:30px;
width:110px;
text-align:center;
font-size:13px;
border: 2px solid white;
border-radius:10px;
}

#menu {
width:150px;
display: block;
float:left;
margin-left:-40px;
}

#menu ul {
list-style: none;
float:left;
margin-left:0;
border-right: 1px solid #330066;
}
#menu li {
width: 125px;
padding:5px;
margin-bottom:10px;
font-size:13px;
}
article {
width:800px;
display: block;
float:right;

}
<!DOCTYPE HTML>



