 body {
    text-align: ;
    background: url("http://www.cellphone-wallpapers.net/Wallpapers/User/11483-5511.jpg");;
    color: white;
    font-family: Comic Sans Ms;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color:#3399CC;
	width:960px;
	margin:auto;
}


	header, main, footer {
	clear:both;
	margin-left:0;
	width:960px;
	
	}








header, main h1 {
	color:#3399CC;
	{block:ifBlogTitleRedBlueBubbleEffect}
<script type="text/javascript">
// <![CDATA[
var bgcolour="#ff0000"; // background colour
var fgcolour="#2100ff"; // foreground colour
var speed=5; // speed of bubbling, lower is faster
var shades=15; // number of shades of bubble
var bubbcol=new Array();
var bubbler, bubbtxt;
var bubbchr=new Array();
window.onload=function() { if (document.getElementById) {
for (bubbler=0; bubbler<=shades; bubbler++) {
bubbtxt="#";
for (var i=1; i<6; i+=2) {
var bg=parseInt(bgcolour.substring(i,i+2),16);
bubbtxt+=dechex(Math.floor(bg+(parseInt(fgcolour.substring(i,i+2),16)-bg)*(bubbler/shades)));
}
bubbcol[bubbler+1]=bubbtxt;
}
bubbler=document.getElementById("bubble");
bubbtxt=bubbler.firstChild.nodeValue;
while (bubbler.childNodes.length) bubbler.removeChild(bubbler.childNodes[0]);
for (var i=0; i<bubbtxt.length; i++) {
var bubbi=document.createElement("span");
bubbi.setAttribute("id", "bubb"+i);
bubbi.appendChild(document.createTextNode(bubbtxt.charAt(i)));
bubbler.appendChild(bubbi);
}
bubbler=setInterval ("bubbling()", speed);
}}

function dechex(dec) {
var hex=dec.toString(16);
if (dec<16) return "0"+hex;
else return hex;
}

function bubbling() {
for (var i=0; i<bubbtxt.length; i++) {
var bubbme=document.getElementById("bubb"+i);
if (bubbchr[i]) {
bubbme.style.color=bubbcol[bubbchr[i]];
bubbchr[i]=(bubbchr[i]+1)%bubbcol.length;
}
else if (Math.random()<0.75/bubbchr.length) bubbchr[i]=1;
}
}
// ]]>
</script>
{/block:ifBlogTitleRedBlueBubbleEffect}

{block:ifBlogTitleDarkBubbleEffect}
<script type="text/javascript">
// <![CDATA[
var bgcolour="#000000"; // background colour
var fgcolour="#a8a7a7"; // foreground colour
var speed=100; // speed of bubbling, lower is faster
var shades=10; // number of shades of bubble
var bubbcol=new Array();
var bubbler, bubbtxt;
var bubbchr=new Array();
window.onload=function() { if (document.getElementById) {
for (bubbler=0; bubbler<=shades; bubbler++) {
bubbtxt="#";
for (var i=1; i<6; i+=2) {
var bg=parseInt(bgcolour.substring(i,i+2),16);
bubbtxt+=dechex(Math.floor(bg+(parseInt(fgcolour.substring(i,i+2),16)-bg)*(bubbler/shades)));
}
bubbcol[bubbler+1]=bubbtxt;
}
bubbler=document.getElementById("bubble");
bubbtxt=bubbler.firstChild.nodeValue;
while (bubbler.childNodes.length) bubbler.removeChild(bubbler.childNodes[0]);
for (var i=0; i<bubbtxt.length; i++) {
var bubbi=document.createElement("span");
bubbi.setAttribute("id", "bubb"+i);
bubbi.appendChild(document.createTextNode(bubbtxt.charAt(i)));
bubbler.appendChild(bubbi);
}
bubbler=setInterval ("bubbling()", speed);
}}

function dechex(dec) {
var hex=dec.toString(16);
if (dec<16) return "0"+hex;
else return hex;
}

function bubbling() {
for (var i=0; i<bubbtxt.length; i++) {
var bubbme=document.getElementById("bubb"+i);
if (bubbchr[i]) {
bubbme.style.color=bubbcol[bubbchr[i]];
bubbchr[i]=(bubbchr[i]+1)%bubbcol.length;
}
else if (Math.random()<0.75/bubbchr.length) bubbchr[i]=1;
}
}
// ]]>
</script>
{/block:ifBlogTitleDarkBubbleEffect}

</head>
}













a, a:visited {
	color:#330066;
	text-decoration:none;
}






a:hover {
	color: #77ccee;
	text-decoration: bold;
}





#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	border: 2px solid white;
	border-radius:10px;
}

#menu {
	width:150px;
	display: block;
	float:left;
	margin-left:-40px;
	}

#menu ul {
	list-style: none;
	float:left;
	margin-left:0;
	border-right: 1px solid #330066;
	}
	
#menu li {
	width: 125px;
	padding:5px;
	margin-bottom:10px;
	font-size:13px;
	}
	
article {
	width:800px;
	display: block;
	float:right;
	}
	<!DOCTYPE HTML>
